.button {
  padding: 23px 51px;
  border-radius: 3px;
  background-color: $yellow;
  font-family: Montserrat-Bold;
  font-size: 18px;
  color: #ffffff;
  text-transform: uppercase;
  transition: all 0.4s ease;

  &:hover {
    background-color: darken($yellow, 20%);
  }
}


/*
<input type="button" class="button" value="Tell me more">
*/
