.button {
  padding: 23px 51px;
  border-radius: 3px;
  background-color: $yellow;
  font-family: Montserrat-Bold;
  font-size: 18px;
  color: #ffffff;
  text-transform: uppercase;
  transition: all 0.4s ease;

  &:hover {
    background-color: darken($yellow, 20%);
  }

  &.button--fixed {
    position: fixed;
    right: 50px;
    bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    padding: 10px;
    border-radius: 50%;
  }
}


/*
<input type="button" class="button" value="Tell me more">
<a href="#home" class="button button--fixed"><i class="fa fa-arrow-up" aria-hidden="true"></i></a>
*/
