.header {
  display: flex;
  justify-content: space-between;
  max-width: 950px;
  margin: 0 auto;
  padding: 15px 8px;
  background-color: transparent;

  .header__menu {
    align-self: center;
  }

  .header__list {
    display: flex;
  }

  .header__item:not(:last-child) {
    margin-right: 40px;
  }

  .header__link {
    position: relative;
    font-family: Montserrat-Regular;
    font-size: 14px;
    color: #fff;

    &:after {
      content: "";
      display: inline-block;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: -15px;
      width: 0;
      height: 2px;
      background-color: $yellow;
      transition: width 0.4s ease;
    }

    &:hover {
      color: $yellow;
    }

    &:hover:after {
      width: 90%;
    }
  }
}