.portfolio-single {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 292px;
  width: 100%;
  padding: 0 16px;

  .portfolio-single__image {
    width: 291px;
    height: 302px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .portfolio-single__title {
    margin-top: 26px;
  }

  .portfolio-single__description {
    margin-top: 4px;
    font-family: DroidSerif-Italic;
    color: #737373;
  }
}

.portfolio-single:nth-child(4n),
.portfolio-single:nth-child(5n),
.portfolio-single:nth-child(6n) {
  margin-top: 78px;
}

/*<div class="portfolio-single">
  <div class="portfolio-single__image" style="background-image: url('images/portfolio-1.jpg')"></div>
  <h3 class="portfolio-single__title">Ebony & Ivory</h3>
  <p class="portfolio-single__description">Branding</p>
</div>
<div class="portfolio-single">
  <div class="portfolio-single__image" style="background-image: url('images/portfolio-2.jpg')"></div>
  <h3 class="portfolio-single__title">Smart Stationary</h3>
  <p class="portfolio-single__description">Print Design</p>
</div>
<div class="portfolio-single">
  <div class="portfolio-single__image" style="background-image: url('images/portfolio-3.jpg')"></div>
  <h3 class="portfolio-single__title">Clever Poster</h3>
  <p class="portfolio-single__description">Print Design</p>
</div>
<div class="portfolio-single">
  <div class="portfolio-single__image" style="background-image: url('images/portfolio-4.jpg')"></div>
  <h3 class="portfolio-single__title">Vinyl Record</h3>
  <p class="portfolio-single__description">Product Mock-Up</p>
</div>
<div class="portfolio-single">
  <div class="portfolio-single__image" style="background-image: url('images/portfolio-5.jpg')"></div>
  <h3 class="portfolio-single__title">Treehouse Template</h3>
  <p class="portfolio-single__description">Web Design</p>
</div>
<div class="portfolio-single">
  <div class="portfolio-single__image" style="background-image: url('images/portfolio-6.jpg')"></div>
  <h3 class="portfolio-single__title">Burned Logo</h3>
  <p class="portfolio-single__description">Branding</p>
</div>*/
