.services {
  padding: 114px 0;
  background-color: #fff;

  .container {
    max-width: 990px;
  }
}


/*
<section class="services">
  <div class="container">
    <div class="section-title">
      <h2>Services</h2>
      <p>Proin iaculis purus consequat sem cure</p>
    </div>
    <div class="section-content">

    </div>
  </div>
</section>
*/
