//typography: base styles for fonts, p, a, standard h1, h2 ...

body {
  font-family: RobotoSlab-Regular;
  font-size: 14px;
}

h1 {
  margin-top: 35px;
  font-family: Montserrat-Bold;
  font-size: 75px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
}

h2 {
  font-family: Montserrat-Bold;
  font-size: 40px;
  color: $dark;
  text-transform: uppercase;
  letter-spacing: -1px;
}

h3 {
  font-family: Montserrat-Bold;
  font-size: 18px;
  color: $dark;
  letter-spacing: -0.5px;
}